.container-1{
width:20vh;
height:20vh;
border-radius: 50%; /* circle border */
overflow: hidden; /* crop 1/3 */
position:relative; /* crop 2/3 */
z-index:1;
}

.container-gray{
	background-color: #BFCAD5;
    width: 59px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-top: 34px;
}


.container-1_1{
    width: 27px;
    height: 76px;
    background-color: #BFCAD5;
/*	margin-left: 66px;*/
}
.square1_1{
	    width: 19px;
    height: 13px;
    background-color: #F7E09D;
    position: relative;
    margin-top: 14px;
    margin-left: 6px;
    animation-name: yeah;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes yeah {
    0%   {background-color:#F7E09D; left:0px; top:0px;}
    25%  {background-color:yellow; left:10px; top:0px;}
    50%  {background-color:blue; left:10px; top:18px;}
    75%  {background-color:green; left:0px; top:18px;}
    100% {background-color:#F7E09D; left:0px; top:0px;}
}

.square1_2{
	    width: 19px;
    height: 13px;
    background-color: #F7E09D;
    position: relative;
    margin-top: 6px;
    margin-left: 6px;
    animation-name: yeah;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes yeahh {
    0%   {background-color:#F7E09D; left:0px; top:0px;}
    25%  {background-color:yellow; left:10px; top:0px;}
    50%  {background-color:blue; left:10px; top:18px;}
    75%  {background-color:green; left:0px; top:18px;}
    100% {background-color:#F7E09D; left:0px; top:0px;}
}
.square1_3{
	width: 19px;
    height: 13px;
	background-color: #F7E09D;
	position: relative;
	margin-top: 6px;
	margin-left: 6px;
	animation-name: yeahhh;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes yeahhh {
    0%   {background-color:#F7E09D; left:0px; top:0px;}
    25%  {background-color:yellow; left:10px; top:0px;}
    50%  {background-color:blue; left:10px; top:23px;}
    75%  {background-color:green; left:0px; top:23px;}
    100% {background-color:#F7E09D; left:0px; top:0px;}
}
.container-red{
	background: #F44F23;
    width: 22px;
    height: 60px;
    margin-right: 13px;
}

.square2_1{
	background: #FD792A;
    width: 11px;
    height: 13px;
    position: relative;
    margin-top: 6px;
    animation-name: yeahmove;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}


.square2_2{
background: #FD792A;
    width: 11px;
    height: 13px;
    position: relative;
    margin-top: 6px;
    animation-name: yeahmove;
    animation-iteration-count: infinite;
        animation-duration: 2s;

   }
  .square2_3{
  	background: #FD792A;
    width: 11px;
    height: 13px;
    position: relative;
    margin-top: 6px;
    animation-name: yeahmove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
@keyframes yeahmove{
        0%   {left: 0px;}
        50%  {left: 6px;}
        100% {left: 0px;}
    }